html{
    height: 100%;
}


.vl{
    border-left: 3px solid black;
    height: 500px;
    margin-left: 2px;
    top: 0;
    padding: 0;
}

.hl{
    border-top: 3px solid black;
    width: 500px;
    margin-left: 2px;
    top: 0;
    padding: 0;
}

.x-coordinate{
    display: flex;
}

.arrow-right{
    margin-top: -7px;
}

.arrow_up{
    margin: 0;
    padding: 0;
}


.column{
    display:flex;
    flex-direction: row;
    align-items: flex-end;
}

.col-ex{
    width: 20px;
    background-color: green;
    /* height: 500px; */
    margin: 0 10px;
}


.col_desk{
    width: 50px;
    margin: 20px 10px 0px 10px;
}


.number-of-col button{
    width: 80px;
}